{
	"presets": [
		"@babel/preset-react",
		"@babel/preset-flow"
	],
	"plugins": [
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-proposal-export-default-from",
		"@babel/plugin-proposal-export-namespace-from"
	],
	"comments": false,
	"env": {
		"build": {
			"presets": [
				"@babel/preset-env"
			],
			"ignore": [
				"**/__tests__/"
			]
		},
		"module": {
			"presets": [
				[
					"@babel/preset-env",
					{
						"modules": false
					}
				]
			],
			"ignore": [
				"**/__tests__/"
			]
		},
		"testing": {
			"plugins": [
				"babel-plugin-istanbul"
			]
		}
	}
}
