{
	"presets": [
		"react"
	],
	"plugins": [
		"transform-object-rest-spread",
		"transform-export-extensions"
	],
	"comments": false,
	"env": {
		"module": {
			"presets": [
				["es2015", {
					"modules": false
				}]
			],
			"ignore": ["**/__tests__/"]
		},
		"build": {
			"presets": ["es2015"],
			"ignore": ["**/__tests__/"]
		}
	}
}
