$font-sizes: (
  lg: 1.33333333em,
  2x: 2em,
  3x: 3em,
  4x: 4em,
  5x: 5em
);

$prefix: 'flag-icon';

.#{$prefix}-lg {
  font-size: map-get($font-sizes, lg);
}

.#{$prefix}-2x {
  font-size: map-get($font-sizes, 2x);
}

.#{$prefix}-3x {
  font-size: map-get($font-sizes, 3x);
}

.#{$prefix}-4x {
  font-size: map-get($font-sizes, 4x);
}

.#{$prefix}-5x {
  font-size: map-get($font-sizes, 5x);
}

$rotations: (
  90: 90deg,
  180: 180deg,
  270: 270deg
);

.#{$prefix}-rotate-90 {
  transform: rotate(map-get($rotations, 90));
}

.#{$prefix}-rotate-180 {
  transform: rotate(map-get($rotations, 180));
}

.#{$prefix}-rotate-270 {
  transform: rotate(map-get($rotations, 270));
}

.#{$prefix}-flip-horizontal {
  transform: scale(-1, 1);
}

.#{$prefix}-flip-vertical {
  transform: scale(1, -1);
}
